// ---- --- --- MIXINS --- --- --- ---
//
// --- --- --- --- --- --- --- --- ---
// --- --- --- --- --- --- --- --- ---
// --- --- --- --- --- --- --- --- ---
header.page.header
    .container
        .header__inner
            .header__top
                nav.menu.header__menu
                    ul.menu__list
                        li.menu__item.menu__item_actived
                            a(href="#").menu__link О нас
                        li.menu__item
                            a(href="#").menu__link Стоимость
                        li.menu__item
                            a(href="#").menu__link Доп. услуги
                        li.menu__item
                            a(href="#").menu__link Гарантии
                        li.menu__item
                            a(href="#").menu__link Новости

                a.phone.header__phone(href="tel:080000000000") 0 800 000 000 00
                button.login.header__login
                    img.login__img(src="images/header_cosmonaut.png")

            .header__content
                h1.header__title Космический <span>Туризм</span>
                .header__text
                    p Будущие уже наступило!
                    p Осуществим мечту детства!
                button.header__btn Хочу быть космонавтом
            .header__description
                p.header__description-text В 2021 году наступила новая эра в освоении космоса - эра космического туризма. Частные компании получили доступ к космическому пространству.
                p.header__description-text Между ними обострилась конкуренция, а цена билета на полеты в космическое пространство снизилась в сто раз.
// --- --- --- --- --- --- --- --- ---
// --- --- --- --- --- --- --- --- ---
// --- --- --- --- --- --- --- --- ---





