@import 'vars';

.menu {
    &__list {
        display: flex;
    }

    &__item {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 21px;

        transition: color 0.3s ease;

        & + & {
            margin-left: 30px;
        }

        &:hover {
            color: $color_red;
        }
    }

    &__link {
    }

    &__btn {
        display: none;

        padding-top: 8px;

        width: 40px;
    }

    &__btn span {
        background-color: white;

        position: relative;
        display: block;
        margin-bottom: 10px;

        width: 40px;
        height: 3px;

        &::before,
        &::after {
            content: '';

            background-color: white;

            position: absolute;
            display: block;

            width: 40px;
            height: 3px;
        }

        &::before {
            top: -7px;
        }

        &::after {
            bottom: -7px;
            width: 50%;
        }
    }
}

.phone {
    font-size: 24px;
    line-height: 29px;
}

.login {
}

.btn {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    border: 1px solid #ffffff;

    padding: 20px 10px;
}

.input {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;

    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;

    padding-bottom: 20px;
}

.input::placeholder {
    font-family: $ff_sf;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
