@import 'vars';

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;

    text-decoration: none;
}

button {
    color: inherit;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;

    &:hover {
        background-color: rgba(0, 27, 161, 0.08);
        transform: scale(1.01);
    }
}

body {
    font-family: $ff_sf;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $color_white;

    background-color: rgba(2, 2, 2, 0.7);

    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page {
    padding: 100px 0;

    min-height: 100vh;

    &__title {
        font-family: $ff_space;
        font-size: 48px;
        line-height: 48px;

        position: relative;
        z-index: 10;
        margin-bottom: 100px;

        max-width: 576px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 10px;

    max-width: 1220px;
}

.table {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: lowercase;

    &__list {
        display: flex;
    }

    &__item {
        flex: 1;
    }

    &__title {
        border-top: 1px solid #ffffff;

        padding: 10px 0;
    }

    &__info {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;

        padding: 10px 0;
    }

    &__info-count {
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;

        margin-bottom: 1px;
    }

    &__info-unit {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
    }

    &__extra {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        text-transform: lowercase;
        color: #e5e5e5;

        margin-top: 20px;

        &::before {
            content: '✱';

            margin-right: 7.2px;
        }
    }
}

.constellation {
    position: relative;

    width: 843px;
    height: 603px;

    &__star {
        position: absolute;
        display: flex;

        //&:hover {
        //    .constellation__star-circle {
        //        transform: scale(2);
        //
        //        margin-right: 25px;
        //    }
        //
        //    .constellation__star-text {
        //        font-size: 36px;
        //        color: #036cca;
        //    }
        //}
    }

    &__star-circle {
        background-color: #ffffff;
        border-radius: 50%;

        transition: all 0.3s ease;

        margin-right: 15px;

        width: 20px;
        height: 20px;
    }

    &__star-text {
        font-size: 18px;
        line-height: 21px;

        transition: all 0.3s ease;
    }

    &__star {
        &::after {
            content: '';

            background-color: white;

            position: absolute;
            z-index: 0;

            height: 2px;
        }

        &:nth-of-type(1) {
            top: 0;
            left: 0;

            &::after {
                transform: rotate(29.66deg);
                top: 48px;
                left: 0;

                width: 159px;
            }
        }

        &:nth-of-type(2) {
            top: 77px;
            left: 141px;

            &::after {
                transform: rotate(59.31deg);
                top: 58px;
                left: -20px;

                width: 121px;
            }
        }

        &:nth-of-type(3) {
            top: 178px;
            left: 205px;

            &::after {
                transform: rotate(59.31deg);
                top: 80px;
                left: -20px;

                width: 140px;
            }
        }

        &:nth-of-type(4) {
            left: 276px;
            bottom: 275px;

            &::after {
                transform: rotate(25deg);
                top: 70px;
                left: -6px;

                width: 296px;
            }
        }

        &:nth-of-type(5) {
            top: 426px;
            left: 536px;

            .constellation__star-circle {
                width: 60px;
            }

            &::after {
                transform: rotate(324deg);
                top: 63px;
                left: -146px;

                width: 170px;
            }
        }

        &:nth-of-type(6) {
            display: block;
            top: 526px;
            left: 396px;

            .constellation__star-text {
                margin-top: 15px;
            }

            //&:hover {
            //    .constellation__star-text {
            //        margin-top: 25px;
            //    }
            //}

            &::after {
                transform: rotate(35.44deg);
                top: -52px;
                left: -185px;

                width: 215px;
            }
        }

        &:nth-of-type(7) {
            left: 5px;
            bottom: 176px;

            .constellation__star-circle {
                margin: 0 0 0 15px;
            }

            .constellation__star-text {
                order: -1;
            }

            &::after {
                transform: rotate(117.27deg);
                top: -40px;
                left: 199px;

                width: 115px;
            }
        }
    }
}

.additional {
    &__title {
        font-family: $ff_space;
        font-size: 48px;
        line-height: 48px;

        margin-bottom: 100px;

        max-width: 600px;
    }

    &__box {
        display: flex;

        margin-bottom: 12px;
    }

    &__info {
        margin-right: 83px;
    }

    &__info-title {
        font-size: 24px;
        line-height: 29px;

        margin-bottom: 25px;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: flex;

        &::before {
            content: '';

            background-color: #ffffff;
            border-radius: 50%;

            transform: translateY(4px);
            display: inline-block;
            margin-right: 15px;

            width: 20px;
            height: 20px;
        }
    }

    &__item-text {
        font-size: 24px;
        line-height: 29px;
    }

    &__group {
        position: relative;
        flex: 1;

        &::before {
            content: url('images/special_cosmonaut.png');

            position: absolute;
            right: 0;
            top: -129px;
        }
    }

    &__btn {
        display: block;

        width: 100%;

        & + & {
            margin-top: 50px;
        }
    }

    &__subtitle {
        font-size: 12px;
        line-height: 14px;
        color: #e5e5e5;
    }
}

.slider {
    border: 1px solid #ffffff;

    display: flex;
    justify-content: space-between;
    //align-items: center;
    padding: 100px 74px;

    &__btn {
    }

    &__btn svg {
    }

    &__btn_type_right {
    }

    &__btn_type_right svg {
        transform: rotate(180deg);
    }

    &__content {
    }

    &__content-item {
    }

    &__content-img {
    }
}
