$ff_sf: 'SF Display Pro', sans-serif;
$ff_space: 'Space Age', sans-serif;
$color_white: #ffffff;
$color_red: #cb0e0e;

// https://fsen.ru/any/adaptive

$b-width_e-small: 360px;
$b-width_small: 576px;
$b-width_medium: 768px;
$b-width_large: 992px;
$b-width_e-large: 1200px;
$b-width_ee-large: 1400px;

$econom_width_small: 360px;
$econom_width_normal: 768px;
$econom_width_medium: 1024px;
$econom_width_medium-1: 1000px;
$econom_width_large: 1024px;
