@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';
@import 'commons';

.header {
    background-image: url('images/cover_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    padding-top: 78px;
    padding-bottom: 142px;

    min-height: 100vh;

    &::before {
        content: '';

        background: linear-gradient(180deg, #010203 0%, rgba(1, 2, 3, 0) 100%);
        transform: rotate(-180deg);

        position: absolute;
        top: 45%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: calc(100vh - 78px - 142px);
    }

    //#region TOP
    &__top {
        display: flex;
        align-items: center;
    }

    &__menu {
        flex: 1;
    }

    &__phone {
        margin-right: 22px;
    }

    &__login {
    }

    //#endregion

    //#region CONTENT
    &__content {
        z-index: 1;

        align-self: flex-start;

        max-width: 600px;
    }

    &__title {
        font-family: $ff_space;
        font-size: 60px;
        line-height: 60px;

        //margin-bottom: 18px;
        margin-bottom: 35px;
    }

    &__title span {
        font-size: 110px;
        //line-height: 110px;
        line-height: 65px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        display: block;
    }

    &__text {
        font-size: 24px;
        line-height: 29px;

        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__btn {
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;

        border: 1px solid #ffffff;

        padding: 15px 0;

        width: 100%;
    }

    //#endregion

    //#region DESCRIPTION
    &__description {
        z-index: 1;

        display: flex;
        align-self: flex-end;
    }

    &__description-text {
        width: 165px;

        & + & {
            margin-left: 52px;
        }
    }

    //#endregion
}

.about-us {
    background-image: url('images/us&special_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &::before {
        content: '';

        background: linear-gradient(180deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        height: 450px;
    }

    &__inner {
        position: relative;
    }

    &__box {
        display: flex;

        & + & {
            margin-top: 100px;
        }
    }

    &__box_type_reverse {
        .about-us__box-content {
            order: -1;
        }

        .about-us__box-img {
            margin-right: 0;
            margin-left: 100px;
        }
    }

    &__box-img {
        margin-right: 100px;
    }

    &__box-img img {
        transition: all 0.6s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__box-content {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    &__box-title {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;

        margin-bottom: 5px;
    }

    &__box-path {
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #036cca;

        margin-bottom: 30px;
    }

    &__box-description {
        display: flex;
        justify-content: space-between;

        margin-bottom: 50px;
    }

    &__box-text {
        font-size: 16px;
        line-height: 19px;

        max-width: 166px;
    }

    &__table {
        //margin-bottom: 50px;
        flex: 1;
    }

    &__box-btn {
        font-size: 18px;
        line-height: 21px;

        border: 1px solid #ffffff;

        padding: 20px 10px;

        width: 50%;
    }
}

.how {
    background-image: url('images/how_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &::before {
        content: '';

        background: linear-gradient(180deg, #010203 0%, rgba(1, 2, 3, 0) 100%);

        transform: rotate(-180deg);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 63%;
    }

    &__inner {
        position: relative;
        z-index: 10;
    }

    &__constellation {
        margin: 0 auto;
    }
}
